*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* header navbar flexbox */
header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 2px 0 0 2px;
    border-color: #003380;
}

/* logo container */
.logo a{
    max-width: 100%;
    height: auto;
    margin: 0 0 5px 0;
    text-decoration: none;
    color: #003380;
}
.logo a:hover{
    color: #3485bb;
}

/* nav bar container */
ul.navbar{
    display: flex;
    align-content: center;
    list-style-type: none;
    overflow: hidden;
    flex-wrap: wrap;
}

/* buttons for the nav bar */
.navbutton a{
    text-decoration: none;
    padding: 0.5em;
    color: #003380;
}

/* nav bar hover display */
.navbutton a:hover{
    color: #3485bb;
    font-weight: bold;
}

/* nav bar active display */
.navbutton .active{
    font-weight: bold;
}

/* column setup */
.leftcolumn{
    float: left;
    width: 60%;
    text-align: center;
    border-style: solid;
    border-color: #003380;
    border-width: 0 1px 0 0;
}

/* column setup + divider line */
.rightcolumn{
    float: left;
    width: 40%;
}

/* display sections */
.section{
    background-color: #3485bb;
    color: white;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

/* image formatting in column section */
.sectionimg{
    width: auto;
    height: 300px;
    padding: 10px;
}

/* clearing columns at end of page */
.form:after{
    content:"";
    display: table;
    clear: both;
}

.footer{
    width: 100%;
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #003380;
}

/* reponsive layout for small screens */
@media screen and (max-width: 1000px) {
    .leftcolumn, .rightcolumn{   
      width: 100%;
      padding: 0;
      border-style: none;
    }
  }

