*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* header navbar flexbox */
header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: white;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    padding: 2px 0 0 2px;
    border-color: #003380;
}

/* logo container */
.logo a{
    max-width: 100%;
    height: auto;
    padding: 2px;
    text-decoration: none;
    align-items: center;
    color: #003380;
}
.logo a:hover{
    color: #3485bb;
}

/* nav bar container */
ul.navbar{
    display: flex;
    align-content: center;
    list-style-type: none;
    overflow: hidden;
    flex-wrap: wrap;
}

/* buttons for the nav bar */
.navbutton a{
    text-decoration: none;
    padding: 0.5em;
    color: #003380;
}

/* nav bar hover display */
.navbutton a:hover{
    color: #3485bb;
    font-weight: bold;
}

/* nav bar active display */
.navbutton .active{
    font-weight: bold;
}



/* display sections */
.section{
    background-color: #3485bb;
    color: white;
    text-align: left;
    padding: 10px;
    margin: 10px;
}

/* image formatting in column section */
.img-fluid{
    max-height: 300px;
}

/* reponsive layout for small screens */
/*@media screen and (max-width: 1000px) {
    .leftcolumn, .rightcolumn{   
      width: 100%;
      padding: 0;
      border-style: none;
    }
  }*/

