*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}

header{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #003380;
}

.logo{
    max-width: 100%;
    height: auto;
    margin: 0 0 5px 0;
}

ul.navbar{
    display: flex;
    align-content: center;
    list-style-type: none;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 0;
}

li.navbutton a{
    text-decoration: none;
    padding: 0.5em;
    color: #003380;
}

li.navbutton a:hover{
    color: #3485bb;
    font-weight: bold;
}

.navbutton .active{
    font-weight: bold;
}

